.head{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.an{
    padding-top: 30px;
    
}
.an a{
    text-decoration: none;
}
.a{
    display: flex;
    text-align: justify;
    justify-content: space-between;
    padding: 10px 200px;
    margin: 20px;
}
.b{
    display: flex;
    text-align: justify;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: rgba(128, 128, 128, 0.16);
    margin: 20px 0px;
}

.hp{
    flex-wrap: wrap;
    padding: 50px;
}
.hp{
    flex-wrap: wrap;
    padding: 50px;
}
.button{
    background-color: rgba(130, 68, 189, 0.719);
    margin:10px 200px;
    padding: 10px 20px;
}
.c{
    text-align: center;
}
.d{
    text-align: center;
    padding: 10px 200px;
}
.img{
    padding: 10px 100px;
}
 .i2 img{
    width: 24.5%;
}
.e{
    background-color: black;
    color: white;
}
.hp2{
    text-align: center;
    padding: 20px;
}
.i2{
    padding: 20px 80px;
}
.f{
    background-image: url("../images/Water_clear\ water.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.img1{
    text-align: center;
}
.img1 img{
    width: 15%;
}
.t{
    background-image: url("../images/Water_clear\ water.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i1 img{
    width: 300px;
}
.i img{
    width: 300px;
}
.hp3{
    text-align: center;
}
.but{
    background-color: rgba(130, 68, 189, 0.719);
    font-size: 20px;
}
.c{
    background-image: url("../images/Water_clear\ water.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g{
    text-align: center;
}
.hee{
    background-color: black;
    color: blanchedalmond;
    padding: 40px 80px;
    text-align: center;
}
.but1{
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
}
button:hover{

    background-color: rgb(138, 145, 208);
    border-radius: 10px;
}